<br>
<div class="about-countainer">
<center><h3>What is <strong>The Time Flyer?</strong></h3></center>
<p><strong>The Time Flyer</strong> is a free, full-color, interactive, incentive-based, monthly publication distributed
anywhere consumers might experience wait times...doctors’ offices, dentists’ offices, hair salons, local
schools, hotels, take-out restaurants, car washes, dealerships, laundromats, dance studios, martial arts
centers, gymnastics clubs, and many more...</p>
<p><strong>The Time Flyer</strong> has crosswords, Sudoku, word search, interesting facts, and puzzles...plus incentives,
offers, and value for consumers to take home. It is intended to make the wait a little easier while
stimulating their minds and providing valuable offers.</p>
<p>The goal of <strong>The Time Flyer</strong> is to engage, entertain and provide value within the local community to
maximize enjoyment for our readers and exposure for our advertisers 365 days a year.</p>
<h4>DID YOU KNOW?</h4>
<ul>
	<li><strong>The Time Flyer</strong> can be found in waiting rooms in your local area.</li>
	<li><strong>The Time Flyer</strong> contains puzzles, crosswords and even a kid's section to keep them busy while you wait.</li>
	<li><strong>The Time Flyer</strong> has a monthly $100 giveaway.</li>
	<li><strong>You</strong> can become a fan of <strong>The Time Flyer</strong> on Facebook, Instagram, and Twitter.</li>
</ul>

<center>
<h2><strong>PICKUP A COPY IN A WAITING ROOM NEAR YOU!</strong></h2>
</center>

</div>