<h3>What is The Time Flyer?</h3>
<p>The Time Flyer is a free, full-color, interactive, incentive-based, monthly publication distributed anywhere consumers experience wait times...doctors’ offices, dentists’ offices, hair salons, local schools, hotels, take-out restaurants, car washes, dealerships, laundromats, dance studios, martial arts centers, gymnastics clubs, and many more...</p>
<p>The Time Flyer has crosswords, Sudoku, word search, interesting facts, and puzzles...plus incentives, offers, and value for consumers to take home. The Time Flyer is intended to stimulate the minds of consumers and their families while they wait and to provide valuable offers for them to take home.</p>
<p>The goal of The Time Flyer is to engage, entertain, and provide value everywhere within the local community to maximize enjoyment for our readers and exposure for our advertisers 365 days a year.</p>
<h4>DID YOU KNOW?</h4>
<ul>
	<li>The Time Flyer can be found in doctors, dentist, hair salons, and other places you visit</li>
	<li>The Time Flyer contains puzzles and crosswords and a kid's section to keep you busy while you wait</li>
	<li>The Time Flyer has a monthly $100 giveaway</li>
	<li>You can become a fan of The Waiting Game on Facebook, Instagram, and Twitter</li>
</ul>

<h2>PICKUP A COPY IN A WAITING ROOM NEAR YOU!</h2>