<br>
<div class="faq">
	<center><h3>Frequently Asked Questions</h3></center><br>
	<h4><strong>Q: How does the monthly giveaway work?</h4></strong>
	<p>A: We will insert a trivia question in The Time Flyer. You must answer correctly and we will draw a name. The winner will get $100 gift card.</p>
	<br>
	<h4><strong>Q: Where can I find The Time Flyer?</h4></strong>
	<p>A: You can find The Time Flyer anywhere you might experience a wait. The doctor's office, the dentist's office, the mechanic, the nail salon, the barber shop, etc.</p>
	<br>
	<h4><strong>Q: Can my company advertise in The Time Flyer?</h4></strong>
	<p>A: Please call us at 917-818-4305! We would love to discuss options with you.</p>
	<br>
	<center><p>Have a question not answered here? Email us <a href="mailto:mike@thetimeflyer.com">HERE</a> and we will add it to the list!</p></center>
</div>