<br>
<div class="main-right">
	<h1>The Best Way To Find Local Savings</h1>
	<h3>Everyone loves a deal and The Time Flyer provides some of the best value that can be found in your local area! Easily locate a variety of coupons and savings in your area for a wide range of goods and services - restaurants, automotive, travel & entertainment, services, retail, and more!</h3>
	<h3>Please check back often as our site begins to grow.</h3>
</div>