<br>
<div class="main-right">
	<center><h2>LOCAL SAVINGS FOR YOU!</h2></center>
	<p class="home-page">Everyone loves a deal, and <strong>The Time Flyer</strong> brings you some of the best value found in your local area!
You will find a variety of coupons and savings for a wide range of goods and services for: Restaurants,
Automotive, Travel &amp; Entertainment, Legal services, Retail and more! All you need to do is look for <strong>The
Time Flyer</strong> in your next waiting room!</p>
</div>