/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.menu {
	font-size: large;
	padding-top: 4px;
}

.sm-link{
	width: 2%;
	height: auto;
}

.main-logo {
	width: 550px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 15px;
}

.lg-image{
	width: 15%;
	height: auto;
}

.phone {
	font-size: x-large;
	text-align: right;
	padding-top: 17px;
	color: #355E3B;
}

tbody, th {
	text-align: center;
}

.footer {
	text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
}

.title {
	text-align: center;
}