<br><br>
<div class="footer">
	<%= link_to image_tag("facebook.png", :class => "sm-link"), "http://www.facebook.com/thetimeflyerllc", :target => "_blank" %>
	<%= link_to image_tag("instagram.png", :class => "sm-link"), "http://www.instagram.com/thetimeflyerllc", :target => "_blank"%>
	<%= link_to image_tag("twitter.png", :class => "sm-link"), "http://www.twitter.com/thetimeflyerllc", :target => "_blank" %>
	<p></p>
	<p>&copy; 2017 The Time Flyer, LLC - Built with  &#9829 in Greenpoint, Brooklyn</p>
</div>