<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class>
      <a href="http://www.thetimeflyer.com" class="navbar-left"><img class="header-image" src="/assets/logoclear.png"></a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Find Coupons</a></li>
        <li><a href="#">Business Directory</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Monthly Giveaway</a></li>
      </ul>
    </div>
  </div>
</nav>